.card {
  border: 1px solid #000;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-figure {
  margin: 1rem;
  height: 70%;
}

.card-img {
  width: min-content;
  height: 100%;
}
