.grid {
  display: grid;
  grid-template-columns: repeat(3, 25vw);
  grid-template-rows: repeat(3, 25vh);
  gap: 1rem;
}

@media (max-width: 1600px) {
  .grid {
    grid-template-rows: repeat(3, 20vh);
  }
}

@media (max-width: 700px) {
  .grid {
    grid-template-columns: repeat(2, 35vw);
    grid-template-rows: repeat(5, 25vh);
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(2, 40vw);
  }
}
