.grid {
  display: grid;
  grid-template-columns: repeat(3, 20vw);
  grid-template-rows: repeat(3, 25vh);
  gap: 1rem;
}

.loading-circle {
  background-image: url(../assets/loading.svg);
  width: 60px;
  height: 60px;
  background-size: contain;
  animation: rotate 1s ease-in-out infinite alternate;
}

@keyframes rotate {
  to {
    transform: rotateZ(360deg);
  }
}

@media (max-width: 1600px) {
  .grid {
    grid-template-columns: repeat(3, 15vw);
    grid-template-rows: repeat(3, 20vh);
  }
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: repeat(3, 20vh);
  }
}

@media (max-width: 700px) {
  .grid {
    grid-template-columns: repeat(2, 35vw);
    grid-template-rows: repeat(5, 25vh);
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(2, 40vw);
  }
}
